.panelPedido{
    position: absolute;
    top: 0px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: fixed;
    background-color: var(--red);
    border: 1px solid black;
    border-radius: 12px;
}

.panelBlack{
    top: 0;
    display:none;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    z-index: 200;
}

.card-headerPedidos{
      padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view{
    width: 100%;
    overflow-y: hidden;
    background-color: white;
}

.total{
    width: 100%;
}